@media screen and (max-width: 1022px) {
.component-area-graph{
  max-width: 800px;
}

.svg-content{
  max-width: 800px;
}

.component-area-graph .svg-content {
  left: 15%;
}

.total_figure{
  z-index: 1001;
  margin-left: 86%;
  margin-top: -45%;
}

.text_right {
  max-width: 78%;
  margin-top: 51%;
  margin-left: 15%;
}

.line {
  top: 115%;
}

.btn_info {
  left: 17%;
  top: 115%;
}
}

@media screen and (min-width: 1023px) and (max-width: 1278px){
  .component-area-graph{
    /* max-width: 800px; */
  }

  .svg-content{
    /* max-width: 800px; */
  }

  .component-area-graph .svg-content {
    left: 35%;
    top: 33%
  }

  .total_figure{
    z-index: 1001;
    margin-left: 76%;
    margin-top: -31%;
  }

  .text_right {
    max-width: 58%;
    margin-top: 37%;
    margin-left: 24%;
  }

  .line {
    top: 110%;
  }

  .btn_info {
    left: 18%;
    top: 110%;
  }
}


@media screen and (min-width: 1279px) and (max-width: 1379px){
.component-area-graph{
  max-width: 600px;
}

.svg-content{
  max-width: 600px;
}

.component-area-graph .svg-content {
  left: 10%;
  top: 33%
}

.total_figure{
  z-index: 1001;
  margin-left: 48%;
  margin-top: -24%;
}

.text_right {
  max-width: 40%;
  margin-top: -12%;
  margin-left: 56%;
}

.line {
  top: 65%;
}

.btn_info {
  left: 24%;
  top: 66%;
}
}

@media screen and (min-width: 1380px) and (max-width: 1480px){
.component-area-graph{
  max-width: 600px;
}

.svg-content{
  max-width: 600px;
}

.component-area-graph .svg-content {
  left: 13%;
  top: 33%
}

.total_figure{
  z-index: 1001;
  margin-left: 46%;
  margin-top: -22%;
}

.text_right {
  max-width: 40%;
  margin-top: -11%;
  margin-left: 53%;
}

.line {
  top: 60%;
}

.btn_info {
  left: 24%;
  top: 60%;
}
}

@media screen and (min-width: 1481px) and (max-width: 1679px){
.component-area-graph{
  max-width: 600px;
}

.svg-content{
  max-width: 600px;
}

.component-area-graph .svg-content {
  left: 22%;
  top: 31%
}

.total_figure{
  z-index: 1001;
  margin-left: 46%;
  margin-top: -22%;
}

.text_right {
  max-width: 40%;
  margin-top: -7%;
  margin-left: 53%;
}

.line {
  top: 60%;
}

.btn_info {
  left: 29%;
  top: 60%;
}
}

@media screen and (min-width: 1680px) and (max-width: 1820px){
.component-area-graph{
  max-width: 600px;
}

.svg-content{
  max-width: 600px;
}

.component-area-graph .svg-content {
  left: 22%;
  top: 31%
}

.total_figure{
  z-index: 1001;
  margin-left: 46%;
  margin-top: -22%;
}

.text_right {
  max-width: 40%;
  margin-top: -7%;
  margin-left: 53%;
}

.line {
  top: 45%;
}

.btn_info {
  left: 29%;
  top: 45%;
}
}
