.component-area-graph {
  max-width: 300px;
}

.component-area-graph .svg-container {
  position: relative;
}

.component-area-graph .svg-content {
  position: absolute;
  top: 246px;
  left: 462px;
  z-index: 100;
  height: 135px;
}

.background-graph {
  background: #428762;
  margin-top: -55px;
  margin-left: 330px;
  z-index: 1500;
  height: 295px;
  width: 615px;
}

.component-area-graph .ratio-3-2 {
  /* Ratio: 3:2 */
  padding-bottom: calc(100% * 2 / 3);
}

.component-area-graph .border {
  fill: transparent;
  pointer-events: none;
  stroke: #fff;
  stroke-width: 2px;
}

.component-area-graph .area:hover {
  opacity: 0.75;
}

.component-area-graph .area {
  fill: #428762;
}

.component-area-graph .area--blue-light-dotted {
  fill: url("#svg-blue-light-dotted");
}

/* красный */
.component-area-graph .area--orange {
  /* fill: #f79c82; */
  fill: #428762;
}


.component-area-graph .divider {
  pointer-events: none;
}
.component-area-graph .divider line {
  stroke: #f4f4f4;
  stroke-width: 1px;
}
.component-area-graph .divider--first,
.component-area-graph .divider--last {
  display: none;
}
.component-area-graph .highlight {
  pointer-events: none;
}
.component-area-graph .highlight__circle {
  fill: #fff;
  stroke: #0071e0;
  stroke-width: 2;
}
.component-area-graph .highlight__path {
  stroke-width: 6px;
}

.line_horizontal {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 433px;
  left: 355px;
  width: 530px;
  height: 1px;
  z-index: 101;

}

.line_vertical {
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 215px;
      left: 408px;
      width: 1px;
      height: 220px;
      z-index: 101;
}

h5 {
  margin: 35px;
  display: inline-block;
  color: white;
}

.appraisal {
  margin-left: 43px;
      margin-top: -57px;
      position: absolute;
}

.line_score {
  background-color: white;
  opacity: 0.7;
  left: 330px;
  width: 1px;
  height: 20px;
  z-index: 20;
  display: inline-block;
  margin: 70px;
}

.score_line {
  height: 97px;
      width: 685px;
      margin-left: -17px;
      margin-top: -69px;
}

.total_figure {
  margin-left: 375px;
  z-index: 2000;
  margin-top: -60px;
  color: #5CBD89;
  width: 79px;
}
