* {
  box-sizing: border-box;
}

html, body, h1, h2, h3, p, i {
  /* font-family: 'Lora', serif; */
  /* font-family: 'IBM Plex Mono', monospace; */
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 13px;
}

h3 {
  font-size: 55px;
}

h5 {
  font-size: 13px;
}

p {
  font-size: 18px;
}

i {
  font-size: 45px;
}

.text_right {
  max-width: 600px;
  margin-top: -345px;
  margin-left: 990px;
}

.label {
  margin-top: -18px;
}
